.main-container{
    display: grid;
    grid-template-columns: 20vw auto;
}

.section-container{
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-container{
    display: grid;
    grid-template: 1fr;
    position: fixed;
}
.section--text {
    color: blue;
    line-height: 1.5rem;
}

.aside{
    background-color: lightblue;
}
.aside__list{
    list-style: none;
}
.aside ul{
    display:block;
    width: 100%;
}
.aside li{
    padding: .5rem 0;
}
.aside ul li a:hover{
    text-decoration: none;
    color: #99ca45;
    font-size: 1.25rem;
}
body{
    margin:0;
}

.section--text__rotate{
    transform: rotate(-45deg);
}